# --- IDE / OS ---
.idea/
*.swp
.DS_Store

# --- Python Backend ---
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# --- Frontend ---
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~
frontend/node_modules/
frontend/dist/
frontend/build/

# --- Terraform ---
*.tfstate
*.tfstate.*
*.backup
.terraform/
.terraform.lock.hcl
crash.log

# --- Other ---
*.log

# Prevent nested git repo from being tracked
infrastructure/AWS_grocery.git/

